﻿@using System.Activities.Statements
@using MyTaskListManager.Models
@model List<myProjectApp.Tasks>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <form id="project" style="width: 100%;">
        <div class="col-lg-12 form-horizontal">
            <h1>Tasks Manager</h1>

            <label for="taskName">Task Name</label>
            <div class="form-group">
                <input type="text" id="taskName" name="taskName" value="" class="form form-control">
            </div>
            
            <label for="taskStartDate">Task Start Date</label>
            <div class="form-group">
                <input type="datetime" id="taskStartDate" name="taskStartDate" value=@DateTime.Now class="form form-control">
            </div>

            <label for="taskEndDate">Task End Date</label>
            <div class="form-group">                
                    <input type="datetime" id="taskEndDate" name="taskEndDate" value="mm/dd/yyyy" class="form-control">                    
            </div>
            
            <label for="createdBy">Created By</label>
            <div class="form-group">
                <input type="text" id="createdBy" name="createdBy" value="" class="form form-control">
            </div>
            
            <label for="taskStatus">Task Status</label>
            <div class="form-group">
                <input type="text" id="taskStatus" name="taskStatus" value="" class="form form-control">
            </div>

            <label for="taskComments">Comments</label>
            <div class="form-group">
                <input type="text" id="taskComments" name="taskComments" value="" class="form form-control">
            </div>            
        </div>
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success" value="">Add new Task</button>
        </div>
    </form>
</div>
<br />
<br />
       
<div class="row">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Created by</th>
                <th>Status</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (myProjectApp.Tasks item in Model)
            {
                <tr>
                    <td>
                        @item.Task_Id
                    </td>
                    <td>
                        @item.Task_Name
                    </td>
                    <td>
                        @item.Task_Start_Date
                    </td>
                    <td>
                        @item.Task_End_Date
                    </td>
                    <td>
                        @item.Task_Creator_User_Id
                    </td>
                    <td>
                        @item.Task_Status_Id
                    </td>
                    <td>
                        @item.Comments
                    </td><td>
                        <a href="/Edit/@item.Task_Id">Edit</a>
                        <a href="/Delete/@item.Task_Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>        
    </table>
</div>
