﻿

@{
    ViewBag.Title = "Index";
}

<h1></h1>
<div class="jumbotron">
    <h1></h1>
    <h1>Task List Manager</h1>  
    
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
      
    </div>
</div>
