﻿
@model myProjectApp.Project

@{
    ViewBag.Title = "AddProject";
    
}

@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    <div class="row">
        <form id="project" style="width: 100%;">
            <div class="col-lg-12 form-horizontal">
                <h1>Project Manager</h1>
                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Project_Name)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Project_Name, new { @type = "text", placeholder = "Name", @class = "title width-7" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Project_Description)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Project_Description, new { @type = "text", placeholder = "Description", @class = "title width-7" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Project_Created_Time)
                    </div>
                    
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Project_Created_Time, new { @class = "datefield", @id = "Project_Created_Date", @name = "Project_Created_Date", @type = "datetime-local", @Value = DateTime.Now })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Project_Start_Date)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Project_Start_Date, new { @class = "datefield", @id = "Project_Start_Date", @name = "Project_Start_Date", @type = "datetime-local", @Value = DateTime.Now })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Project_End_Date)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Project_End_Date, new { @class = "datefield", @id = "Project_End_Date", @name = "Project_End_Date", @type = "datetime-local", @Value = DateTime.Now })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.User_Count)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.User_Count, new { @type = "text", placeholder = "Count", @class = "title width-7" })
                    </div>
                </fieldset>
            </div>
            <div class="col-lg-12">
                <button type="submit" class="btn btn-success" value="AddProject">Add new project</button>
                <button type="reset" class="btn btn-default">Reset</button>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home")'">Go Back</button>
            </div>
        </form>
    </div>
}


@*@Html.Partial("LoadProjectsDataTable")
@{ Html.RenderPartial("LoadProjectDataTable");}*@


<br />
<br />

