﻿@*@model List<myProjectApp.Project>*@
@using myProjectApp.BLL
@using myProjectApp
@model List<Project>
@*IEnumerator IEnumerable.GetEnumerator()*@
@{
    ViewBag.Title = "LoadProjectsDataTable";
    //var Model = new List<Project>();
    //ProjectBLL objMock = new ProjectBLL();
    //Model = objMock.GetAll();

}
@using (Html.BeginForm("LoadProjectsDataTable", "Project",FormMethod.Get))
    {
        <div class="row">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Creation Time</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>User Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @item.Project_Name
                            </td>
                            <td>
                                @item.Project_Description
                            </td>
                            <td>
                                @item.Project_Created_Time
                            </td>
                            <td>
                                @item.Project_Start_Date
                            </td>
                            <td>
                                @item.Project_End_Date
                            </td>
                            <td>
                                @item.User_Count
                            </td>
                            <td>
                                <a href="/Edit/@item.Project_Id">Edit</a>
                                <a href="/Delete/@item.Project_Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
