﻿@using System.Activities.Statements
@using MyTaskListManager.Models
@model List<myProjectApp.Users>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <form id="project" style="width: 100%;">
        <div class="col-lg-12 form-horizontal">
            <h1>Users Manager</h1>

            <label for="userName">User Name</label>
            <div class="form-group">
                <input type="text" id="userName" name="userName" value="" class="form form-control">
            </div>

            <label for="userfirstName">First Name</label>
            <div class="form-group">
                <input type="text" id="userfirstName" name="userfirstName" value="" class="form form-control">
            </div>

            <label for="userLastName">Last Name</label>
            <div class="form-group">
                <input type="text" id="userLastName" name="userLastName" value="" class="form form-control">
            </div>

            <label for="userPassword">Password</label>
            <div class="form-group">
                <input type="password" id="userPassword" name="userPassword" value="" class="form form-control">
            </div>

            <label for="userEmail">Email</label>
            <div class="form-group">
                <input type="email" id="userEmail" name="userEmail" value="" class="form form-control">
            </div>
        </div>
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success" value="">Add new User</button>
        </div>
    </form>
</div>
<br />
<br />

<div class="row">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>First Name</th>
                <th>LastName</th>
                <th>Password</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>           
            @foreach (myProjectApp.Users item in Model)
            {
                <tr>
                    <td>
                        @item.User_Id
                    </td>
                    <td>
                        @item.User_Name
                    </td>
                    <td>
                        @item.User_First_Name
                    </td>
                    <td>
                        @item.User_Last_Name
                    </td>
                    <td>
                        @item.User_Password
                    </td>
                    <td>
                        @item.User_Email
                    </td>
                    <td>
                        <a href="/Edit/@item.User_Id">Edit</a>
                        <a href="/Delete/@item.User_Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
